<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AnnouncementMapper">
    <resultMap id="BaseResultMap" type="org.example.entity.Announcement">
        <id property="announceId" column="announce_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="publisherId" column="publisher_id" />
        <result property="publishTime" column="publish_time" />
        <result property="isTop" column="is_top" />
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM announcement WHERE announce_id = #{announceId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM announcement
    </select>

    <insert id="insert" parameterType="org.example.entity.Announcement">
        INSERT INTO announcement (title, content, publisher_id, publish_time, is_top)
        VALUES (#{title}, #{content}, #{publisherId}, #{publishTime}, #{isTop})
    </insert>

    <update id="update" parameterType="org.example.entity.Announcement">
        UPDATE announcement
        SET title=#{title}, content=#{content}, publisher_id=#{publisherId}, publish_time=#{publishTime}, is_top=#{isTop}
        WHERE announce_id=#{announceId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM announcement WHERE announce_id=#{announceId}
    </delete>
</mapper>
