<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.FeeTypeMapper">
    <resultMap id="BaseResultMap" type="org.example.entity.FeeType">
        <id property="feeId" column="fee_id" />
        <result property="feeName" column="fee_name" />
        <result property="unitPrice" column="unit_price" />
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM fee_type WHERE fee_id = #{feeId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM fee_type
    </select>

    <insert id="insert" parameterType="org.example.entity.FeeType">
        INSERT INTO fee_type (fee_name, unit_price)
        VALUES (#{feeName}, #{unitPrice})
    </insert>

    <update id="update" parameterType="org.example.entity.FeeType">
        UPDATE fee_type
        SET fee_name=#{feeName}, unit_price=#{unitPrice}
        WHERE fee_id=#{feeId}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM fee_type WHERE fee_id=#{feeId}
    </delete>
</mapper>
